Flask==1.0.2
Flask-Script==2.0.6
Flask-Migrate==2.2.1
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
marshmallow-sqlalchemy==0.14.1
psycopg2==2.7.5
pytest==3.6.4
pytest-bdd==2.21.0
requests==2.19.1

twine==1.11.0
flake8==3.5.0